Checks: '*,-google-build-using-namespace,-readability-else-after-return,-cert-err58-cpp,-readability-redundant-declaration,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-readability-implicit-bool-cast,-clang-analyzer-alpha.*,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-type-vararg,-clang-diagnostic-ignored-optimization-argument,-clang-diagnostic-unknown-warning-option'
